In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

# Normalization

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()         # create a scaler object

In [6]:
scaler.fit(df[['Marketing Spend']])  # fit the data to the scaler object

MinMaxScaler()

In [7]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [8]:
df[['Marketing Spend']] = scaler.transform(df[['Marketing Spend']])

In [9]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [10]:
df[['Administration']] = scaler.transform(df[['Administration']])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Administration
Feature names seen at fit time, yet now missing:
- Marketing Spend

  warnings.warn(message, FutureWarning)

In [11]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.827931  471784.10    Dhaka  192261.83
1         0.983359        0.915502  443898.53      Ctg  191792.06
2         0.927985        0.611709  407934.54  Rangpur  191050.39
3         0.873136        0.717704  383199.62    Dhaka  182901.99
4         0.859438        0.552720  366168.42  Rangpur  166187.94

In [12]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

# normalization using loop

In [13]:
cols = ['Marketing Spend', 'Administration', 'Transport']

In [14]:
for col in cols:
    df[col] = scaler.fit_transform(df[[col]])

In [15]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Standard Scaler

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sca = StandardScaler()  # create an object of MaxAbsScaler

In [18]:
sca.fit(df[['Marketing Spend']])

StandardScaler()

In [19]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Max abs scaler

In [20]:
from sklearn.preprocessing import MaxAbsScaler

In [21]:
mxas = MaxAbsScaler()   #create boject

In [22]:
mxas.fit(df[['Administration']])

MaxAbsScaler()

In [23]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Robust Scaler

In [26]:
from sklearn.preprocessing import RobustScaler

In [27]:
rs = RobustScaler()

In [28]:
rs.fit(df[['Administration']])

RobustScaler()

In [29]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94